.team-form-container{
  display: flex;
}

.team-form{
  width: 650px;
  margin-left: auto;
  margin-right: auto;
}

#btn-div{
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;
}

#btn-div > button{
  margin-left: 10px;
  margin-right: 10px;
}