body{
    background-color: #F5F5F5;
}

.stat-container{
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    width: 100%;
    height: fit-content;
}

h5.team-name{
    text-align: center;
    margin: auto;
    width: 120px;
}

.team-bench{
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 8px 6px -2px black;
}

.players-container{
    display: flex;
}

.area-container{
    padding: 5px
}

.Court{
    display: flex !important;
    flex-direction: column;
    justify-content: space-evenly;
    height: 300px;
}

.Bench{
    display: flex !important;
    flex-direction: column;
    justify-content: space-evenly;
    height: 300px;
    border-bottom-right-radius: 20px;
}

h5.area{
    margin-top: 5px;;
    margin-bottom: auto;
    margin-right: 5px;
    margin-left: 5px;
    width: 40px;
}

.player{
    text-align: center;
    width: 20px;
    color: black;
    user-select: none;
    border-radius: 50%;
    font-weight: 500;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}