div.court div:nth-child(1) {
    height: 50%;
    margin: 10px;
    padding: 2.5px;
    border: 2.5px dashed blue;
}

div.court div:nth-child(2) {
    height: 50%;
    margin: 10px;
    padding: 2.5px;
    border: 2.5px dashed red;
}

.bench{
    position:absolute;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    bottom: 0;
}

div.bench div:nth-child(1) {
    width: 50%;  
    margin: 10px;
    padding: 2.5px;
    border: 2.5px dashed blue;
}

div.bench div:nth-child(2) {
    width: 50%;  
    margin: 10px;
    padding: 2.5px;
    border: 2.5px dashed red;
}